**Below is the steps we would go through to load, view and visualize any csv data.**  
  
**STEP 1: ADDING PACKAGES**  
  
**We add python packages we require.**

In [1]:
import numpy  as np             # easy to play with arrays etc.
import pandas as pd             # required to load and read data and put in dataframe.
import matplotlib.pyplot as plt # required for data visualization purposes.
import seaborn as sns           # required for data visualization purposes.
import plotly.plotly as py      # required for data visualization purposes.
import plotly.graph_objs as go  # required for data visualization purposes.
from IPython.display import display, HTML
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

**STEP 2: READING IN A DATASET**  
  
**To read data in the form of .xls or comma seperated file, you need pd.read_excel()**  

**Delimiter can be set as well whether header or index column is required.**  

**http://gsociology.icaap.org/dataupload.html is source of data**  
    

****


**STEP 3: VIEWING THE FIRST FEW ROWS**  
  

**To see the first few rows of the data and make sure we read it in correctly, we use .head()**

In [2]:
excel_file = "../data/causes_of_death2.xlsx"
data = pd.read_excel(excel_file)
data.head()

,"Births, Deaths, Net Migration, 1950 to 2100",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 87,Unnamed: 88,Unnamed: 89,Unnamed: 90,Unnamed: 91,Unnamed: 92,Unnamed: 93,Unnamed: 94,Unnamed: 95,Unnamed: 96
0,NaN,b50-55,b55-60,b60-65,b65-70,b70-75,b75-80,b80-85,b85-90,b90-95,...,m50-55,m55-60,m60-65,m65-70,m70-75,m75-80,m80-85,m85-90,m90-95,m95-00
1,Country or Area,1950-1955,1955-1960,1960-1965,1965-1970,1970-1975,1975-1980,1980-1985,1985-1990,1990-1995,...,2050-2055,2055-2060,2060-2065,2065-2070,2070-2075,2075-2080,2080-2085,2085-2090,2090-2095,2095-2100
2,Africa,1.15858e+07,12920715,14460425,1.61173e+07,1.81833e+07,2.0536e+07,2.3008e+07,2.53157e+07,2.72664e+07,...,-344302,-293260,-250468,-212156,-175463,-138985,-104560,-70112.6,-36388,-3801.2
3,Asia,6.17152e+07,6.39118e+07,6.91948e+07,76666011,7.82249e+07,7.45254e+07,79797062,8.55579e+07,82732165,...,-893029,-842434,-769528,-682964,-587950,-494655,-392600,-292060,-192290,-92607
4,Australia/New Zealand,252077,279659,301107,299319,321580,281855,287261,302604,317138,...,50629.2,42928.6,36621.6,31028.4,25867.2,20755.4,15983,11188.2,6272.4,0

**STEP 4: GET BASIC INFORMATION**  
  
**To get basic info from the dataset, we use .info()**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 97 columns):
Births, Deaths, Net Migration, 1950 to 2100    34 non-null object
Unnamed: 1                                     35 non-null object
Unnamed: 2                                     35 non-null object
Unnamed: 3                                     35 non-null object
Unnamed: 4                                     35 non-null object
Unnamed: 5                                     35 non-null object
Unnamed: 6                                     35 non-null object
Unnamed: 7                                     35 non-null object
Unnamed: 8                                     35 non-null object
Unnamed: 9                                     35 non-null object
Unnamed: 10                                    35 non-null object
Unnamed: 11                                    35 non-null object
Unnamed: 12                                    35 non-null object
Unnamed: 13                                    35 non-null object
Unnamed: 14                                    35 non-null object
Unnamed: 15                                    35 non-null object
Unnamed: 16                                    35 non-null object
Unnamed: 17                                    35 non-null object
Unnamed: 18                                    35 non-null object
Unnamed: 19                                    35 non-null object
Unnamed: 20                                    35 non-null object
Unnamed: 21                                    35 non-null object
Unnamed: 22                                    35 non-null object
Unnamed: 23                                    35 non-null object
Unnamed: 24                                    35 non-null object
Unnamed: 25                                    35 non-null object
Unnamed: 26                                    35 non-null object
Unnamed: 27                                    35 non-null object
Unnamed: 28                                    35 non-null object
Unnamed: 29                                    35 non-null object
Unnamed: 30                                    35 non-null object
Unnamed: 31                                    0 non-null float64
Unnamed: 32                                    0 non-null float64
Unnamed: 33                                    34 non-null object
Unnamed: 34                                    35 non-null object
Unnamed: 35                                    35 non-null object
Unnamed: 36                                    35 non-null object
Unnamed: 37                                    35 non-null object
Unnamed: 38                                    35 non-null object
Unnamed: 39                                    35 non-null object
Unnamed: 40                                    35 non-null object
Unnamed: 41                                    35 non-null object
Unnamed: 42                                    35 non-null object
Unnamed: 43                                    35 non-null object
Unnamed: 44                                    35 non-null object
Unnamed: 45                                    35 non-null object
Unnamed: 46                                    35 non-null object
Unnamed: 47                                    35 non-null object
Unnamed: 48                                    35 non-null object
Unnamed: 49                                    35 non-null object
Unnamed: 50                                    35 non-null object
Unnamed: 51                                    35 non-null object
Unnamed: 52                                    35 non-null object
Unnamed: 53                                    35 non-null object
Unnamed: 54                                    35 non-null object
Unnamed: 55                                    35 non-null object
Unnamed: 56                                    35 non-null object
Unnamed: 57                                    35 non-null object
Unnamed: 58                                    35 non-null object
Unnamed: 59                                    35 non-null object
Unnamed: 60                                    35 non-null object
Unnamed: 61                                    35 non-null object
Unnamed: 62                                    35 non-null object
Unnamed: 63                                    35 non-null object
Unnamed: 64                                    0 non-null float64
Unnamed: 65                                    0 non-null float64
Unnamed: 66                                    34 non-null object
Unnamed: 67                                    35 non-null object
Unnamed: 68                                    35 non-null object
Unnamed: 69                                    35 non-null object
Unnamed: 70                                    35 non-null object
Unnamed: 71                                    35 non-null object
Unnamed: 72                                    35 non-null object
Unnamed: 73                                    35 non-null object
Unnamed: 74                                    35 non-null object
Unnamed: 75                                    35 non-null object
Unnamed: 76                                    35 non-null object
Unnamed: 77                                    35 non-null object
Unnamed: 78                                    35 non-null object
Unnamed: 79                                    35 non-null object
Unnamed: 80                                    35 non-null object
Unnamed: 81                                    35 non-null object
Unnamed: 82                                    35 non-null object
Unnamed: 83                                    35 non-null object
Unnamed: 84                                    35 non-null object
Unnamed: 85                                    35 non-null object
Unnamed: 86                                    35 non-null object
Unnamed: 87                                    35 non-null object
Unnamed: 88                                    35 non-null object
Unnamed: 89                                    35 non-null object
Unnamed: 90                                    35 non-null object
Unnamed: 91                                    35 non-null object
Unnamed: 92                                    35 non-null object
Unnamed: 93                                    35 non-null object
Unnamed: 94                                    35 non-null object
Unnamed: 95                                    35 non-null object
Unnamed: 96                                    35 non-null object
dtypes: float64(4), object(93)
memory usage: 26.6+ KB

**STEP 5: SEE FURTHER DETAILS**  
  
**To get datatypes of each column, we can use .dtypes**  

**To get more details about each column, we can use .describe()**  
  
The reason we only get data from 3 columns is because the rest have commas in them which need to be removed
We can deal with this later while cleaning.

In [4]:
print data.dtypes
print "\n"
display(HTML(data.describe().to_html()))

Births, Deaths, Net Migration, 1950 to 2100    object
Unnamed: 1                                     object
Unnamed: 2                                     object
Unnamed: 3                                     object
Unnamed: 4                                     object
Unnamed: 5                                     object
Unnamed: 6                                     object
Unnamed: 7                                     object
Unnamed: 8                                     object
Unnamed: 9                                     object
Unnamed: 10                                    object
Unnamed: 11                                    object
Unnamed: 12                                    object
Unnamed: 13                                    object
Unnamed: 14                                    object
Unnamed: 15                                    object
Unnamed: 16                                    object
Unnamed: 17                                    object
Unnamed: 18                                    object
Unnamed: 19                                    object
Unnamed: 20                                    object
Unnamed: 21                                    object
Unnamed: 22                                    object
Unnamed: 23                                    object
Unnamed: 24                                    object
Unnamed: 25                                    object
Unnamed: 26                                    object
Unnamed: 27                                    object
Unnamed: 28                                    object
Unnamed: 29                                    object
                                                ...
Unnamed: 67                                    object
Unnamed: 68                                    object
Unnamed: 69                                    object
Unnamed: 70                                    object
Unnamed: 71                                    object
Unnamed: 72                                    object
Unnamed: 73                                    object
Unnamed: 74                                    object
Unnamed: 75                                    object
Unnamed: 76                                    object
Unnamed: 77                                    object
Unnamed: 78                                    object
Unnamed: 79                                    object
Unnamed: 80                                    object
Unnamed: 81                                    object
Unnamed: 82                                    object
Unnamed: 83                                    object
Unnamed: 84                                    object
Unnamed: 85                                    object
Unnamed: 86                                    object
Unnamed: 87                                    object
Unnamed: 88                                    object
Unnamed: 89                                    object
Unnamed: 90                                    object
Unnamed: 91                                    object
Unnamed: 92                                    object
Unnamed: 93                                    object
Unnamed: 94                                    object
Unnamed: 95                                    object
Unnamed: 96                                    object
Length: 97, dtype: object


**STEP 6: COUNT NUMBER OF EMPTY VALUES IN COLUMN**  
   
**We can check the number of null values a column has by using .isnull().sum()**  
  
**For example, here, Climate has the most null values **

In [5]:
print data.isnull().sum()

Births, Deaths, Net Migration, 1950 to 2100    1
Unnamed: 1                                     0
Unnamed: 2                                     0
Unnamed: 3                                     0
Unnamed: 4                                     0
Unnamed: 5                                     0
Unnamed: 6                                     0
Unnamed: 7                                     0
Unnamed: 8                                     0
Unnamed: 9                                     0
Unnamed: 10                                    0
Unnamed: 11                                    0
Unnamed: 12                                    0
Unnamed: 13                                    0
Unnamed: 14                                    0
Unnamed: 15                                    0
Unnamed: 16                                    0
Unnamed: 17                                    0
Unnamed: 18                                    0
Unnamed: 19                                    0
Unnamed: 20                                    0
Unnamed: 21                                    0
Unnamed: 22                                    0
Unnamed: 23                                    0
Unnamed: 24                                    0
Unnamed: 25                                    0
Unnamed: 26                                    0
Unnamed: 27                                    0
Unnamed: 28                                    0
Unnamed: 29                                    0
                                              ..
Unnamed: 67                                    0
Unnamed: 68                                    0
Unnamed: 69                                    0
Unnamed: 70                                    0
Unnamed: 71                                    0
Unnamed: 72                                    0
Unnamed: 73                                    0
Unnamed: 74                                    0
Unnamed: 75                                    0
Unnamed: 76                                    0
Unnamed: 77                                    0
Unnamed: 78                                    0
Unnamed: 79                                    0
Unnamed: 80                                    0
Unnamed: 81                                    0
Unnamed: 82                                    0
Unnamed: 83                                    0
Unnamed: 84                                    0
Unnamed: 85                                    0
Unnamed: 86                                    0
Unnamed: 87                                    0
Unnamed: 88                                    0
Unnamed: 89                                    0
Unnamed: 90                                    0
Unnamed: 91                                    0
Unnamed: 92                                    0
Unnamed: 93                                    0
Unnamed: 94                                    0
Unnamed: 95                                    0
Unnamed: 96                                    0
Length: 97, dtype: int64

**STEP 7: SEE NUMBER OF UNIQUE VALUES IN COLUMN**  
  
**It is useful to see the number of unique values in each column using .nunique()**  
  
**Here we see region and climate have a good number of unique values to order by, therefore we can group by these columns and make good visualizations**

In [6]:
print data.nunique()
group1 = data.groupby("Cause Name")['Age-adjusted Death Rate'].agg(np.mean)
print group1
print "\n"
group2 = data.groupby("Year")
display(HTML(group2.head().to_html()))
print "\n"
group3 = data.groupby("State")
display(HTML(group3.head().to_html()))

Births, Deaths, Net Migration, 1950 to 2100    34
Unnamed: 1                                     35
Unnamed: 2                                     35
Unnamed: 3                                     35
Unnamed: 4                                     35
Unnamed: 5                                     35
Unnamed: 6                                     35
Unnamed: 7                                     35
Unnamed: 8                                     35
Unnamed: 9                                     35
Unnamed: 10                                    35
Unnamed: 11                                    35
Unnamed: 12                                    35
Unnamed: 13                                    35
Unnamed: 14                                    35
Unnamed: 15                                    35
Unnamed: 16                                    35
Unnamed: 17                                    35
Unnamed: 18                                    35
Unnamed: 19                                    35
Unnamed: 20                                    35
Unnamed: 21                                    35
Unnamed: 22                                    35
Unnamed: 23                                    35
Unnamed: 24                                    35
Unnamed: 25                                    35
Unnamed: 26                                    35
Unnamed: 27                                    35
Unnamed: 28                                    35
Unnamed: 29                                    35
                                               ..
Unnamed: 67                                    35
Unnamed: 68                                    35
Unnamed: 69                                    35
Unnamed: 70                                    35
Unnamed: 71                                    35
Unnamed: 72                                    35
Unnamed: 73                                    35
Unnamed: 74                                    35
Unnamed: 75                                    35
Unnamed: 76                                    35
Unnamed: 77                                    35
Unnamed: 78                                    35
Unnamed: 79                                    35
Unnamed: 80                                    35
Unnamed: 81                                    35
Unnamed: 82                                    35
Unnamed: 83                                    35
Unnamed: 84                                    35
Unnamed: 85                                    35
Unnamed: 86                                    35
Unnamed: 87                                    35
Unnamed: 88                                    35
Unnamed: 89                                    35
Unnamed: 90                                    35
Unnamed: 91                                    35
Unnamed: 92                                    35
Unnamed: 93                                    35
Unnamed: 94                                    35
Unnamed: 95                                    35
Unnamed: 96                                    27
Length: 97, dtype: int64

KeyError: 'Cause Name'