In [1]:
import ijson                    # required to extract data from json format
import numpy  as np             # easy to play with arrays etc.
import pandas as pd             # required to load and read data and put in dataframe.
import matplotlib.pyplot as plt # required for data visualization purposes.
import seaborn as sns           # required for data visualization purposes.
import plotly.plotly as py      # required for data visualization purposes.
import plotly.graph_objs as go  # required for data visualization purposes.
from IPython.display import display, HTML
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)

In [3]:
filename = "healthdata.json"
with open(filename, 'r') as f:
    objects = ijson.items(f, 'meta.view.columns.item')
    columns = list(objects)
column_names = [col["fieldName"] for col in columns]
print column_names

[u':sid', u':id', u':position', u':created_at', u':created_meta', u':updated_at', u':updated_meta', u':meta', u'yearstart', u'yearend', u'locationabbr', u'locationdesc', u'datasource', u'class', u'topic', u'question', u'data_value_unit', u'data_value_type', u'data_value', u'data_value_alt', u'data_value_footnote_symbol', u'data_value_footnote', u'low_confidence_limit', u'high_confidence_limit', u'sample_size', u'total', u'age_months', u'gender', u'race_ethnicity', u'geolocation', u'classid', u'topicid', u'questionid', u'datavaluetypeid', u'locationid', u'stratificationcategory1', u'stratification1', u'stratificationcategoryid1', u'stratificationid1']

In [4]:
final_columns=[u'yearstart', u'locationabbr', u'data_value', u'low_confidence_limit', u'high_confidence_limit', u'sample_size', u'stratificationcategory1', u'stratification1']

In [5]:
data = []
with open(filename, 'r') as f:
    objects = ijson.items(f, 'data.item')
    for row in objects:
        selected_row = []
        for item in final_columns:
            selected_row.append(row[column_names.index(item)])
        data.append(selected_row)
print data[9]

[u'2008', u'AL', u'25.0', u'19.3', u'30.7', u'228', u'Race/Ethnicity', u'American Indian/Alaska Native']

In [6]:
data = pd.DataFrame(data, columns=final_columns)

In [7]:
data.head(15)

,yearstart,locationabbr,data_value,low_confidence_limit,high_confidence_limit,sample_size,stratificationcategory1,stratification1
0,2008,AL,15.4,15.1,15.8,43287,Total,Total
1,2008,AL,15.5,15.0,16.0,21912,Gender,Male
2,2008,AL,15.3,14.9,15.8,21375,Gender,Female
3,2008,AL,15.3,14.7,15.8,18219,Age (months),24 - 35
4,2008,AL,14.9,14.4,15.5,14796,Age (months),36 - 47
5,2008,AL,16.4,15.6,17.1,10272,Age (months),48 - 59
6,2008,AL,15.8,15.2,16.3,17833,Race/Ethnicity,Non-Hispanic White
7,2008,AL,13.9,13.4,14.4,19170,Race/Ethnicity,Non-Hispanic Black
8,2008,AL,19.3,18.3,20.3,5731,Race/Ethnicity,Hispanic
9,2008,AL,25.0,19.3,30.7,228,Race/Ethnicity,American Indian/Alaska Native
10,2008,AL,8.8,5.4,12.2,273,Race/Ethnicity,Asian/Pacific Islander
11,2010,AL,16.0,15.7,16.4,45753,Total,Total
12,2010,AL,16.3,15.8,16.8,23112,Gender,Male
13,2010,AL,15.8,15.3,16.2,22641,Gender,Female
14,2010,AL,15.5,15.0,16.0,19294,Age (months),24 - 35